In [1]:
import pandas as pd

In [2]:
df = pd.read_json('data.json')

In [5]:
df_nfe = df[['NFeNumber','CreateDate','EmissionDate','Discount','NFeID']].copy()

In [6]:
df_nfe

   NFeNumber              CreateDate         EmissionDate  Discount  NFeID
0        501  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0      1
1        502  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0      2
2        503  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0      3

In [8]:
df[['NFeNumber','ItemList']]

   NFeNumber                                           ItemList
0        501  [{'ProductName': 'Rice', 'Value': 35.55, 'Quan...
1        502  [{'ProductName': 'Tomate', 'Value': 12.25, 'Qu...
2        503  [{'ProductName': 'Beer', 'Value': 9.0, 'Quanti...

In [45]:
df_itens = []
for nfe in df['NFeNumber'].unique():
    df_item = pd.json_normalize(df[df['NFeNumber'] == nfe]['ItemList'].values[0])
    df_item['NFeNumber'] = nfe

    col = df_item.pop("NFeNumber")
    df_item.insert(0, col.name, col)

    df_itens.append(df_item)

df_item = pd.concat(df_itens)

In [46]:
df_item

   NFeNumber   ProductName  Value  Quantity
0        501          Rice  35.55         2
1        501         Flour  11.55         5
2        501          Bean  27.15         7
0        502        Tomate  12.25        10
1        502         Pasta   7.55         5
0        503          Beer   9.00         6
1        503  French fries  10.99         2
2        503     Ice cream  27.15         1